<div id="ft">
<div class="inner">
<div class="contact">
<h3>Contact</h3>

<p class="tel">+ <%= @company.phone%></p>
<p class="mail"><%=@company.email %></p>
</div>
<div class="follow"><h3>Follow Round</h3>
<ul class=" list-paddingleft-2"><li><p><a class="ico ico-rss"></a>
</p>
</li>
<li><p><a class="ico ico-t">www.baidu.com</a>
</p>
</li>
<li><p><a class="ico ico-f"></a>
</p>
</li>
<li><p><a class="ico ico-weibo"></a>
</p>
</li>
<li><p><a class="ico ico-net"></a>
</p>
</li>
</ul>
</div>
<p class="cprt">© 2013 FOIRDESIGN. All rights reserved. Unauthorized usage of this content prohibited. </p>
</div>
</div>
