  <div id="hd" class="banner">  <div class="inner">  <h1 id="logo"><a href="/">DOUND STUDIO</a>

</h1>

  <div id="nav">    <%= render_nav_list %>    <div class="bg"></div>

  </div>

</div>

    <div id="banner">      <div class="img" style="background:url(/assets/bn1.jpg) no-repeat center 0;"></div>

      <div class="img" style="background:url(/assets/bn2.jpg) no-repeat center 0;"></div>

 <div class="img" style="background:url(/assets/bg_banner.png) no-repeat center 0;"></div>

    </div>

  </div>

