<div class="list"> 
 <div class="item">
 <a href="/pages/chris" class="img">
   <img src="/assets/ad3.png" alt="">
  </a>


<div class="info">  
<h3>Sina Weibo On-line</h3>

 
 <span class="time">Today</span>

  
<p>Articles about learning, using and teaching the English language, includingadvicet
              utorials, opinions and lesson plans fromvarious...</p>


</div>

 
 </div>

 

 <div class="item">
<a href="" class="img">
<img src="/assets/ad3.png" alt="">
</a>


<div class="info"> 
 <h3>Sina Weibo On-line</h3>

  
<span class="time">September 10, 2013</span>


  <p>Articles about learning, using and teaching the English language, includingadvicet
              utorials, opinions and lesson plans fromvarious...</p>


</div>

  
</div>


</div>

