<body id="home">
<div id="doc">
  <%= render 'templates/partials/header' %> 
  <div id="bd">
    <div id="worklist">
      <div class="work-top">
        <h2><span>From the visual to the information, we offer a<br />
            new era of design concepts for products bring sublimation!</span></h2>
        <div class="list">
          <ul class="clearfix">
            <li class="l"><a href="/work2.html"><img src="/assets/ad1.png" alt=""></a></li>
            <li class="r"><a href="/work2.html"><img src="/assets/ad2.png" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="work-list">
        <%=render "templates/partials/news" %> 
      </div>
      <a href="#" class="btn-more"></a>
    </div>
  </div>
  <%=render "templates/partials/footer" %> 
</div>
<script type="text/javascript">
function Slide(opinions){
  /* opinions = {
container: 'hd',
item:'.img',
time:1000

}
   */
this.opinions = opinions;
this.init();
}
Slide.prototype = {
timer: null,
       index: 0,
       len: 0,
       switchTo: function(id){
         console.log(id);
         var id = id;
         var container = this.opinions.container;
         var itemclass = this.opinions.item;
         var el = document.getElementById(container);
         var item = $(itemclass, el);
         var len = item.length;

         $(el).fadeOut(function(){
             item.css({'z-index':1});
             item.eq(id).css({'z-index':2});
             $(el).fadeIn();
             });
       },
init: function(){
        var that = this;
        var container = this.opinions.container;
        var itemclass = this.opinions.item;
        var el = document.getElementById(container);
        var item = $(itemclass, el);
        var len = item.length;
        that.len = len;

        if (len < 2) {
          return;
        }

        $(el).on('mouseenter', function(){
            that.stop();
            }).on('mouseleave', function(){
              that.play();
              });
        that.play();
      },
play: function(){
        var that = this,
        len = that.len,
        time = that.opinions.time;
        that.timer = window.setInterval(function(){
            that.switchTo(that.index);
            that.index++;
            if (that.index > len - 1) {
            that.index = 0;
            }
            }, time);
      },
stop: function(){
        window.clearInterval(this.timer);
      }

};

var slide = new Slide({
container: 'banner',
item: '.img',
time:5000
});
</script>
</body>
