<body id="page">
<div id="doc">
  <div id="hd">
    <%=render 'layouts/nav' %>
  </div>
  <div id="bd">
    <div id="intro-tit">
      <h2>Help every dream!</h2>
      <p>Recent Stories</p>
    </div>
    <div class="service">
      <div class="bd">
        <ul class="list">
          <li>
          <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
          <p>Brand VI Vision</p>
          </li>
          <li>
          <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
          <p>Brand VI Vision</p>
          </li>
          <li>
          <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
          <p>Brand VI Vision</p>
          </li>
          <li>
          <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
          <p>Brand VI Vision</p>
          </li>
          <li>
          <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
          <p>Brand VI Vision</p>
          </li>
          <li>
          <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
          <p>Brand VI Vision</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="address">
      <img src="/assets/map.png" alt="">
      <p><em>Address:</em>1133 Broadway, Suite 1124, New York, NY 10010 </p>
    </div>
  </div>
  <div id="ft">
    <div class="inner">
      <div class="contact">
        <h3>Contact</h3>
        <p class="tel">+86 13800138000</p>
        <p class="mail">contact@aaa.com</p>
      </div>
      <div class="follow">
        <h3>Follow Round</h3>
        <ul>
          <li><a href="" class="ico ico-rss"></a></li>
          <li><a href="" class="ico ico-t"></a></li>
          <li><a href="" class="ico ico-f"></a></li>
          <li><a href="" class="ico ico-weibo"></a></li>
          <li><a href="" class="ico ico-net"></a></li>
        </ul>
      </div>
      <p class="cprt">&copy; 2003</p>
    </div>
  </div>
</div>
</body>
