<body id="page">
<div id="doc">
  <div id="hd">
    <%= render 'layouts/nav' %>
  </div>
  <div id="bd" class="full">
    <div id="work-detail">
      <div class="hd clearfix">
        <h2 class="tit">Ten extinct creatures</h2>
        <p class="tag">Dynamic / Web / Mobile</p>
        <p class="desc">Articles about learning, using and teaching the English language, including advice  tuto rials, opinions and lesson plans from various authors andcontributors. Articles cover to pics from lish grammar. </p>
        <a href="#" class="back"></a>
      </div>
      <div class="bd" style="background:#000;">
        <img class="work-img" src="/assets/case.png">
      </div>
      <div class="ft">
        <div class="orther">
          <div class="list">
            <ul class="clearfix">
              <li>
              <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
              <p>Brand VI Vision</p>
              </li>
              <li>
              <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
              <p>Brand VI Vision</p>
              </li>
              <li>
              <a href="#" class="img"><img src="/assets/case.png" alt=""></a>
              <p>Brand VI Vision</p>
              </li>
            </ul>
          </div>
          <div class="nav">
            <a href="#" class="pre"></a>
            <a href="#" class="next"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="ft">
    <div class="inner">
      <div class="contact">
        <h3>Contact</h3>
        <p class="tel">+86 13800138000</p>
        <p class="mail">contact@aaa.com</p>
      </div>
      <div class="follow">
        <h3>Follow Round</h3>
        <ul>
          <li><a href="" class="ico ico-rss"></a></li>
          <li><a href="" class="ico ico-t"></a></li>
          <li><a href="" class="ico ico-f"></a></li>
          <li><a href="" class="ico ico-weibo"></a></li>
          <li><a href="" class="ico ico-net"></a></li>
        </ul>
      </div>
      <p class="cprt">&copy; 2003</p>
    </div>
  </div>
</div>
</body>
